@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Parisienne&display=swap');

:root {
    --font-romantic: 'Parisienne', cursive;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-romantic);
    background-size: cover;
}


/* Sección completa */
#Hero-Section {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

/* Imagen de fondo */
.imagen-fondo {
    width: 100%;
    height: 100%;
    display: block;
}

/* Ocultar/mostrar según dispositivo */
.imagen-horizontal { display: block; }
.imagen-vertical   { display: none; }

/* Contenido sobre la imagen */
.contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    
}

#Text {
    font-size: 4.5rem; /* Tamaño de fuente responsivo */
    text-align: center;
    font-weight: 400;
    color: #5a0c0c;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.914);
    font-family: "Parisienne", cursive;
    line-height: 1.2;
    margin-top: 40px;
    width: 90% ;
}
.nombres {
    text-align: right;
    margin: 40px 60px 0 0;
}
.strong {
    font-weight: 500;
    font-size: 5rem;
}

@media (max-width: 480px) {

  
  .imagen-horizontal { display: none; }
  .imagen-vertical   { display: block; }

    #Text {
        font-size: 2.5rem;
        text-align: right;
    }

    .strong {
        font-size: 3rem;
    }   

    .nombres {
        margin: 20px 30px 0 0;
    }

}


/* Estilos para la invitación responsiva */ 

.invitacion-container {
  background-color: #7D152A; /* Burdeo */
  padding: 40px 15px;
  text-align: center;
  color: #f5d786; /* Dorado */
}

/* Título */
.titulo {
  font-size: 4rem;
  font-weight: normal;
  margin: 0px;
}

/* Líneas + subtítulos */
.linea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
}

.segmentoFecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Ephesis", cursive;
}

.linea {
  height: 3px;
  background-color: #f5d786;
  width: 280px;
}

.subtext {
  font-size: 3rem;
  white-space: nowrap;
}

/* Fecha principal */
.fecha-numero {
  font-size: 7rem;
  margin: 0;
}

.mes {
  font-size: 3.5rem;
  font-family: "Ephesis", cursive;
}

/* Falta poco */
.faltapoco {
  margin-top: 40px;
  font-size: 3rem;
}

/* Contador estilo tarjetas */
.contador {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  font-family: "Ephesis", cursive;
  font-size: 5rem;
  height: 100px;
}

#seconds{
  width: 105px;
}

.instruciones {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #7b1e2b;
  line-height: 0.8;
}

.contadorTexto {
    display: flex;
  margin-top: 0px;
  justify-content: center;
  font-size: 1.5rem;
  gap: 40px;
}

.contadorTexto p {
  width:80px;
}

.time-box {
  width: 80px;
  height: 100px;
  background: white;
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
    
/* Responsivo */
@media (max-width: 600px) {
  .titulo { font-size: 2.5rem; }
  .fecha-numero { font-size: 5rem; }
  .subtext { font-size: 1.5rem; }
  .faltapoco { font-size: 2rem; }
  .linea { width: 90px; }
  .contador { gap: 10px; font-size: 2.8rem; width: 80%; height: 70px; margin: 20px 36px 0 20px; }
  .contadorTexto p { width: auto; font-size: 1.2rem;margin: 0; }
  .contadorTexto { gap: 20px;}
  #seconds{width: 40px; padding: auto;}

}


.evento-container {
  position: relative;
  background: #ffffff;
  padding: 0px;
  text-align: center;
  overflow: hidden;
}

/* Botón */
.btn-mapa {
  display: inline-block;
  background: #7a0f2c;
  padding: 7px 30px;
  margin: 5px auto 6px auto;
  border-radius: 50px;
  font-size: 2rem;
  color: #f5d786;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

.btn-mapa:hover {
  opacity: 0.85;
}

.btn-fotos {
  display: inline-block;
  background: #f5d786;
  padding: 7px 30px;
  margin: 5px auto 6px auto;
  border-radius: 50px;
  font-size: 2rem;
  color: #7a0f2c;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Ephesis", cursive;
}

.btn-fotos:hover {
  opacity: 0.85;
}

.evento-contenido {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    font-size: 24;
}

/* Título */
.titulo-lugar {
  font-size: 4.5rem;
  font-weight: 500;
  color: #7a0f2c;
  margin-bottom: 40px;
  line-height: 1.2;
}

/* Dirección */
.direccion {
  font-size: 3rem;
  color: #7a0f2c;
  margin-bottom: 50px;
}

.saltoLinea{
    display: none;
}

/* Responsivo */
@media (max-width: 600px) {
  .btn-mapa { font-size: 1.6rem; }
  .btn-fotos { font-size: 1.6rem; }
  .titulo-lugar { font-size: 2.5rem; text-align: right; margin: 20px 0 5px 0;}
  .direccion { font-size: 1.8rem;margin-bottom: 20px; text-align: right; line-height: 1.2;}
  .evento-contenido {  height:auto; gap: auto; justify-content: space-between;}
  .title {    width: 100%;    text-align: right;    margin: 0;  }
  .saltoLinea { display: flex;  }
  .title h1{margin-top: 40px;}
  .ListaDeseo .evento-contenido { gap: 20px; }
}

#dresscode {
    width: 100%;
    background-color: #7D152A;   /* Burdeo */
    padding: 60px 20px;
    text-align: center;
}

.contenedor-dress {
    max-width: 950px;
    margin: auto;
}

.tituloV {
    font-size: 4rem;
    color: #F5D37D;
    margin-bottom: 10px;
}

.tituloF {
    font-size: 4rem;
    color: #F5D37D;
    margin-bottom: 10px;
    font-family: "Ephesis", cursive;
}

.subtituloV {
    font-size: 2.5rem;
    color: #F5D37D;
    margin-bottom: 25px;
}

.icono svg {
    width: 130px;
    height: auto;
    margin: 20px auto;
}

.texto {
    font-size: 2.3rem;
    color: #F5D37D;
    line-height: 1.4;
    margin-top: 30px;
}

/* ★ Responsive */
@media(max-width: 600px) {
    .tituloV { font-size: 3rem; }
    .subtituloV { font-size: 2rem; }
    .texto { font-size: 1.7rem; }
    .icono svg { width: 110px; }
}

.btn-musica {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #877238;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    
}

.btn-musica:hover {
    background-color: rgba(230, 196, 106, 0.15);
}

.btn-musica .icono {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px; /* Triángulo play */
    border-color: transparent transparent transparent #877238;
    transition: 0.3s;
}

/* Estado pausa: dos barras */
.btn-musica.pausando .icono {
    width: 14px;
    height: 14px;
    border: none;
    display: flex;
    justify-content: space-between;
}
.secbtnmusica {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.btn-musica.pausando .icono::before,
.btn-musica.pausando .icono::after {
    content: "";
    width: 4px;
    height: 14px;
    background: #877238;
}

/* Frecuencias de audio */
.freq-bars {
    display: none;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity .4s;
    margin-right: 30%;
}

#dalePlay {
    font-size: 2rem;
    color: #877238;
    font-weight: 500;
    margin-right: 25%;
}

.freq-bars span {
    width: 4px;
    height: 12px;
    background: #877238;
    display: block;
    border-radius: 4px;
    animation: barsMove 0.5s infinite ease-in-out;
    transform-origin: bottom;
}

.freq-bars span:nth-child(2) { animation-delay: .15s; }
.freq-bars span:nth-child(3) { animation-delay: .3s; }
.freq-bars span:nth-child(4) { animation-delay: .45s; }
.freq-bars span:nth-child(5) { animation-delay: .6s; }

@keyframes barsMove {
    0%   { height: 4px; }
    50%  { height: 18px; }
    100% { height: 4px; }
}

/* Activación cuando suena la música */
.freq-bars.active {
    display: flex;
    opacity: 1;
}


/* Móvil */
@media (max-width: 600px) {
    .btn-musica {
        width: 48px;
        height: 48px;
    }
}

/* FONDO OSCURECIDO */
.popup-lista-overlay {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}

/* CONTENEDOR DEL POPUP */
.popup-lista {
    background: #ffffff;
    width: 90%;
    max-width: 900px;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
    border: 4px solid #7a0d2d;
    max-height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.popup-gracias {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-inner {
  background: #fff7ef;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  max-width: 320px;
}



/* BOTÓN CERRAR */
.cerrar-popup-lista {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 32px;
    color: #7a0d2d;
    cursor: pointer;
    background: none;
    border: none;
}

/* TITULO */
.titulo-popup-lista {
    text-align: center;
    font-size: 38px;
    color: #7a0d2d;
    margin-bottom: 25px;
}

/* GRID DE REGALOS */
.regalos-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    justify-items: center;
    align-items: center;
    padding-right: 10px;
    margin-right: 10px;
    overflow-y: auto;
    margin-top: 20px;
}

.tarjeta-regalo {
    width: 230px;
    height: 259px;
    border-radius: 20px;
    border: 2px solid #7b1e2b;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
}

/* Capa clara para leer texto */
.contenido-regalo {
    width: 100%;
    height: 100%;
    background: rgba(255, 248, 240, 0.7);
    padding: 5px 18px  18px 18px;
    text-align: center;
    border-radius: 0 0 18px 18px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Textos */
.tarjeta-regalo .titulo {
    font-family: "Parisienne", cursive;
    color: #7b1e2b;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.tarjeta-regalo .link {
    font-size: 0.9rem;
    color: #7b1e2b;
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
}

.tarjeta-regalo .estado {
    font-style: italic;
    color: #7b1e2b;
    margin-bottom: 12px;
}

/* Botón */
.btn-seleccionar {
    background: #7b1e2b;
    color: #f4d37c;
    border: none;
    padding: 7px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-seleccionar:hover {
    transform: scale(1.05);
}

.btn-confirmar {
    background: #7b1e2b;
    color: #f4d37c;
    border: none;
    padding: 7px 30px;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 auto;
    transition: transform 0.2s ease;
    position: relative;
    z-index: 10;
}

.btn-confirmar:hover {
    transform: scale(1.05);
}
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.tarjeta-regalo.flip .card-inner {
  transform: rotateY(180deg);
}

.tarjeta-regalo.flip .card-front {
  pointer-events: none;
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 16px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  pointer-events: auto;
  color: #7b1e2b;
}

.card-back {
  transform: rotateY(180deg);
  gap: 2px;
  background: #fff;
}

.card-front{
  gap: 20px;
}

.card-back p,h4{
  margin: 0;
}

.cancelar-seleccion {
  cursor: pointer;
  color: #7b1e2b;
  margin: 0px;
}
.hidden {
  display: none !important;
}

.precio {
    font-size: 1.2rem;
    color: #7b1e2b;
    margin-bottom: 0px;
    font-weight: 600;
}

/* Contenido Formulario de aceptacion*/
.rsvp-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.rsvp-overlay {
    position: relative;
    z-index: 2;
    width: 80%;
    border-radius: 10px;
    padding: 20px 20px;
    margin: auto;
    text-align: center;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(4px);
}

.rsvp-title {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-weight: 700;
    color: #7a0f2f;
    margin-bottom: 10px;
}

.rsvp-subtitle {
    color: #7a0f2f;
    font-size: 18px;
    margin-bottom: 30px;
    font-style: italic;
}

/* FORMULARIO */
.rsvp-form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rsvp-form input,
.rsvp-form textarea,
.rsvp-form select {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 2px solid #7a0f2f;
    background: #ffffffc0;
    font-size: 20px;
    outline: none;}
select {
    font-family: "Ephesis", cursive;
    color: gray;
}

.rsvp:focus {
    border-color: #8b2430; /* burdeo */
    box-shadow: 0 0 12px rgba(139, 36, 48, 0.4);
    outline: none;
    background-color: #fff;
}

.rsvp-form textarea {
    min-height: 90px;
    resize: none;
}

.agrupar {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

/* BOTÓN */
.rsvp-btn {
    background: #7a0f2f;
    color: #f2d188;
    border: none;
    padding: 7px 30px;
    border-radius: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.rsvp-btn:hover {
    background: #590a22;
}

@media (max-width: 600px) {
    .rsvp-overlay {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    .agrupar { 
    flex-direction: column;
    }

    .rsvp-overlay h1 {
        text-align: center;
        margin: 0;
    }

    .tg {
        height: 750px;
    }
    .imagen-horizontal {
        display: none;
    }

}
/* SECCIÓN PROGRAMA */
.programa {
  background: #7D152A; /* burdeos */
  color: #f3d88a;      /* dorado */
  padding: 50px 20px;
  text-align: center;
}

.programa-titulo {
  font-size: 64px;
  margin-bottom: 50px;
}

/* Timeline horizontal */
.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

/* Línea */
.timeline::before {
  content: "";
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  height: 2px;
  background: #f3d88a;
}

/* Marcador sobre la línea */
.marcador {
  position: absolute;
  top: 130px;
  left: 50%;
  width: 3px;
  height: 25px;
  background: #f3d58c;
  border-radius: 5%;
  transform: translateX(-50%);
}

/* Evento */
.evento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 22%;
    position: relative;
    text-align: center;
}



.evento img {
    width: 150px;
    height: auto;
    
}

.prgtexto {
    height: 100px;  
}

.hora {
  font-size: 20px;
  display: block;
  margin: 20px 0 10px 0;
}

.evento p {
  font-size: 25px;
  margin: 0;
}

.carousel{
    width: 70%;
}

.carousel-inner{
    border-radius: 50px 0;
    
}

/* 📱 Mobile */
@media (max-width: 768px) {
    .programa {
        padding: 30px 10px;
    }
  .programa-titulo {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .timeline {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .timeline::before {
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
  }

  .evento {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 10px;
  }

  .evento::before {
    top: 0;
    left: 50%;
  }

  .left {
    text-align: center;
    align-self: flex-start;
    margin: 0px 0px 0px 50%;
    width: auto;
    }

    .right {
        text-align: center;
        align-self: flex-end;
        margin: 0px 50% 0px 0px;
        width: auto;
    }
    .marcador {
      width: 25px;
      height: 3px;
      transform: translateY(-50%);
    }

    .left .marcador {
        left: 0px;
    }
    .right .marcador {
        left: auto;
        right: 0px;
    }
    .event img {
        margin: 0;
        mix-blend-mode: multiply;
    }
    .event p {
        margin: 4px;
        mix-blend-mode: multiply;
    }
    .hora {
        margin-top: 0 ;
    }
    .prgtexto {
        height: auto; 
        width: 180px; 
    }
    .carousel{
    width: 100%;
}
}
